@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Grenze+Gotisch:wght@100..900&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Grenze+Gotisch:wght@100..900&family=Nova+Square&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root {
    --main-bg: white;
    --sec-bg: ;
    --color-1: black;
    --color-2: rgb(159, 179, 223);
    --title-font: "DM Serif Text", serif;
    --para-font: "Roboto Flex", sans-serif;
   
}

body {
    background-color: var(--main-bg);
    margin: 0;
    font-family: var(--para-font);
}


.header-icons > a > svg {
    width: 40px;
    transition: transform .5s ease-in-out;
}

.header-icons > a > svg:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.footer-contact > svg {
    width: 40px;
}

h2, h3 {
    font-family: var(--title-font);
    color: var(--color-1);
}

header > div {
    display: flex;
    align-items: center;
}

header {
    padding: 20px;
}

.header-img {
    width: 60%;
}

.header-para, .header-content {
    padding: 0 10px 0 10px;
}

.header-content {
    text-align: justify;
    background-color: var(--color-2);
    display: flex;
    height: 50%;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-content > h2 {
    padding: 10px 0 0 10px;
    margin: 0;
}

.header-icons {
    align-self: flex-end;
    padding: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
    column-gap: 30px;
    align-items: center;
    padding: 200px 20px 200px 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 10px;
    padding-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.project-div-img {
    width: 100%;
    height: 200px;
}

.text-work {
    grid-area: 1 / 1 / 1 / 4;
    place-self: start;
    margin-left: 50px;
}

.project-content {
    width: 90%;
}

.project-name {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.project-name > h3 {
    font-size: 1.3rem;
}

.project-name > div > a > svg {
    width: 30px;
    transition: filter 0.5 ease-in-out;
}

.project-name > div > a > svg:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(3110%) hue-rotate(165deg) brightness(95%) contrast(88%);
}

.project-para {
    color: var(--color-1);
    text-align: justify;
    font-size: .9rem;
}

footer {
    background-color: var(--color-2);
    height: 800px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer-text > h2 {
    color: white;
}

.footer-contact {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-contact > svg {
    filter: invert(100%);
}

.footer-text {
    margin-top: 0;
}

.footer-text > h2 {
    font-size: 2rem;
}

.footer-links > a svg {
    width: 50px;
    padding-top: 20px;
    transition: filter 1s;
}

.footer-links > a svg:hover {
    filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(2419%) hue-rotate(334deg) brightness(90%) contrast(136%);
}

footer > * p {
    font-size: .8rem;
    width: 60%;
    color: white;
}

.footer-img {
    max-width: 50%;
}

@media screen and (max-width: 768px) {

    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .project-card {
        width: 70%;
    }

    .projects h2 {
        text-align: center;
    }

    .text-work {
        align-self: center;
        margin-left: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header > div {
        text-align: center;
        flex-direction: column;
    }

    img.header-img {
        width: 100%;
    }

    h2 {
        font-size: 1.2rem;
    }

    .project-name > h3 {
        font-size: 1rem;
    }

    .footer-img {
        order: -1;
        max-width: 50%;
        gap: 2px;
    }
}

@media screen and (max-width: 425px) {
    .project-card {
        width: 100%;
    }

    .footer h2 {
        font-size: .8rem;
    }

    .footer-img {
        max-width: 100%;
    }
}